@import "tailwindcss";

:root {
  --background: #EFEFEF;
  --foreground: #171717;
  --laranja: #C84314;
  --vermelho: #FF0000;
  --amarelo: #FFCC00;
  --preto: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #EFEFEF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}